<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Farhad Safarov</title>
    <meta name="description" content="Farhad Safarov's Personal Website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" media="all">
</head>
<body>

<div class="container">
    <span class="text-center block fs">Farhad Safarov</span>
    {% block main %}{% endblock %}
</div>

<footer class="container">
    <p class="text-muted">© {{ "now"|date('Y') }} Farhad Safarov</p>
</footer>

</body>
</html>
